@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1,h2,h3,h4,p,label{
        font-family: 'Montserrat', sans-serif;
    }
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: fit-content;
}