@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1,h2,h3,h4,p,label{
        font-family: 'Montserrat', sans-serif;
    }
}
html{
    scroll-behavior: smooth;
}

@media only screen and (max-width:400){
    #getdiv{
        width:300px;
    }
    #getdiv p{
        size:12px;
    }
}